<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jQuery
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    -->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <div style="display: inline;">
            <img src="{{ site.baseurl }}/assets/img/profile.jpeg" alt="Profile Picture" style="display: inline" />
          </div>
          <h1>
            <a href="{{ page.url }}">{{ site.title }}</a>
          </h1>
        </div>
        <p>
          <em>{{ page.description }}</em>
        </p>
        <p>
          <i class="fa-solid fa-envelope" style="color: #d93025"></i>
          <a href="mailto:{{ site.email }}">EMail</a>
          <i class="fa-brands fa-linkedin" style="color: #0a66c2"></i>
          <a href="https://www.linkedin.com/in/brewen-couaran-997296253/">LinkedIn</a>
          <br />
          <i class="fa-brands fa-github" style="color: #000"></i>
          <a href="https://github.com/Aknologia">GitHub</a>
          <img src="{{ site.baseurl }}/assets/img/grepper.png" alt="CodeGrepper" style="display: inline" width="14" height="14" />
          <a href="https://www.grepper.com/profile/brewen-c">Grepper</a>
        </p>
        <div>
          <h3>{{ page.disponibilities }}</h3>
          <p>
            <b>{{ page.internship }}:</b> {{ page.intership_disp }}
          </p>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
          <a href="{{ site.baseurl }}/fr">Français</a>
          <br />
          <a href="{{ site.baseurl }}/en">English</a>
        </p>
        <p>
          This project is maintained by 
          <a href="https://github.com/Aknologia">@Aknologia</a>
        </p>
        <p>
          <small>
            Hosted on GitHub Pages — Theme by 
            <a href="https://github.com/orderedlist">@orderedlist</a>
          </small>
        </p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/assets/js/scale.fix.js"></script>
  </body>
</html>
