<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="og:title" content="{{ page.title }}">
    <meta name="og:description" content="{{ page.description }}">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{ site.url }}">
    <meta name="og:image" content="{{ site.baseurl }}/assets/img/profile.jpeg">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Aknologia">
    <meta name="twitter:creator" content="@Aknologia">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/assets/img/profile.jpeg">
    <style>
      li, li > p {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
      }

      .mt-0 {
        margin-top: 0 !important;
      }
      .mb-0 {
        margin-bottom: 0 !important;
      }

      ul > li > p.subtitle {
        margin-bottom: 5px !important;
      }
      .skill {
        display: inline-block;
        width: 100%;
      }
      .skill > img {
        float: left;
      }
      .skill > p {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <div style="display: inline;">
            <img src="{{ site.baseurl }}/assets/img/profile.jpeg" alt="Profile Picture" style="display: inline" />
          </div>
          <h1>
            <a href="{{ site.baseurl }}">{{ site.title }}</a>
          </h1>
        </div>
        <p>
          <em>{{ page.description }}</em>
        </p>
        <p>
          <i class="fa-solid fa-envelope" style="color: #d93025"></i>
          <a href="mailto:{{ site.email }}">EMail</a>
          <i class="fa-brands fa-linkedin" style="color: #0a66c2"></i>
          <a href="https://www.linkedin.com/in/brewen-couaran-997296253/">LinkedIn</a>
          <br />
          <i class="fa-brands fa-github" style="color: #000"></i>
          <a href="https://github.com/Aknologia">GitHub</a>
          <img src="{{ site.baseurl }}/assets/img/grepper.png" alt="CodeGrepper" style="display: inline" width="14" height="14" />
          <a href="https://www.grepper.com/profile/brewen-c">Grepper</a>
        </p>
        <div>
          <h3>{{ page.availability }}</h3>
          <p class="mt-0 mb-0">
            <i class="fa-solid fa-calendar-alt" style="color: #d93025"></i>
            <a href="https://calendly.com/brewen-couaran">Calendly</a>
          </p>
          <p>
            <b>{{ page.internship.name }}:</b> {{ page.internship.date }}
          </p>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>
          <a href="{{ site.baseurl }}/fr">Français</a>
          <br />
          <a href="{{ site.baseurl }}/en">English</a>
        </p>
        <p>
          This project is maintained by 
          <a href="https://github.com/Aknologia">@Aknologia</a>
        </p>
        <p>
          <small>
            Hosted on GitHub Pages — Theme by 
            <a href="https://github.com/orderedlist">@orderedlist</a>
          </small>
        </p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/assets/js/scale.fix.js"></script>
  </body>
</html>
